@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-intersect";
@import "tailwindcss-animated";

@theme {
  --color-primary: #eed505;
  --font-display: "Kalnia", serif;
  --font-sans: "Manrope", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  .heropattern {
    background-color: #f6f6f6;
  }
}

@font-face {
  font-family: "Kalnia";
  src: url("/fonts/Kalnia-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts//Manrope-VariableFont_wght.ttf") format("truetype");
}

@layer components {
}
@layer utilities {
}

section {
  max-width: 670px; /* mobile/tablet container width */
  margin-inline: auto; /* center it */
  padding-inline: 1rem; /* gutter on both sides */
}

@media (min-width: 1024px) {
  section {
    max-width: 1200px; /* larger container on lg+ */
    padding-inline: 2rem; /* bigger gutter */
  }
}
