---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
const { title } = Astro.props;
---
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		
	</head>
	<body class="h-screen bg-gradient-to-b from-[rgb(9,92,165)] via-[#3593e6] to-[#69b8fc] bg-fixed bg-cover bg-no-repeat">
		<header>
		  <Header />
		</header>
	  
		<main>
		  <slot />
		</main>
	  
		<footer id="contact">
		  <Footer
			email="kianadellagatta@icloud.com"
			phone="+45 29 11 03 53"
			cvUrl="/KianaDellaGatta-cv.pdf"
		  />
		</footer>
	  </body>
</html>