---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
const { title } = Astro.props;
---
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		
	</head>
	<body class="bg-gradient-to-b from-[#1060A7] via-[#3C96E5] to-[#82C4FF] min-h-screen ">
	
		<header class="">
			<Header></Header>
		</header>
		
		<main >
			<slot />
		</main>

		<footer class="">
			<Footer></Footer>
		</footer>

		
	</body>
</html>